/*----------------------------------------------------------------------------*/
/* Email Signup Overlay
/*----------------------------------------------------------------------------*/

#email-signup-container {
    $dialogWidthDesktop: 807;

    // Center dialog left/right. JQuery UI position will position in center of view port.
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

    display: none;
    z-index: 200;
    width: 99%;
    max-width: ($dialogWidthDesktop*1px);
    min-height: 460px;
    text-align: left;
    background-color: #ffffff;
    //@include box-shadow(rgba(0,0,0,.21) 0 0 5px, rgba(0,0,0,.21) 1px 2px 1px);
    background: url(/media/wysiwyg/emailsignup/background.jpg) no-repeat left top;
    background-size: cover;
    border: 1px solid #ffffff;

    .close.top {
        width: 22px; // Double for easier click/tap.
        height: 20px; // Double for easier click/tap.
        float: right;
        margin: 0 10px 0 0;
        cursor: pointer;

        &:after {
            content: '';
            //@include use-sprite('dialog-close');
        }
    }

    .step {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        > .inner-tube {
            float: right;
            margin: 0 3% 0 0;
            width: 58%;
        }
    }

    .content {

        .blink {
            @include button-blink1();
            margin-top: 23px;
            padding-top: 5px;
            @include responsive-font-size(11);
            @include responsive-line-height(16);
        }

        .form-container {
            padding: 20px;
            background-color: #2caae2;

            .input-container {
                overflow: hidden;

                input {
                    width: 100%;
                    height: 34px;
                    padding: 0 1em;
                    border: none;
                    @include font-family('Roboto Light');
                    @include responsive-font-size(14);
                    text-transform: none;
                    color: #404041;
                }
            }

            button {
                float: right;
                margin-left: 5px;
                @include button-b2(105px, 34px);
            }

            #email-signup-email-validator {
                padding-top: 0.25em;
                @include font-family('Roboto Bold');
                @include responsive-font-size(14);
                color: $c-danger;
            }
        }

        .step1 {
            margin-top: 60px;

            h1 {
                margin: 0;
                padding: 0;
                @include font-family('Roboto Light');
                @include responsive-font-size(31);
                font-weight: normal;
                text-transform: none;
                color: #373737;
            }

            h2 {
                margin: 0 20px 0 0;
                padding: 0 0 6px 0;
                @include font-family('Roboto Bold');
                @include responsive-font-size(31);
                font-weight: normal;
                color: #373737;
                border-bottom: 3px solid #383838;
            }

            ul {
                margin: 1em 0 1em 4em;
                padding: 0;
                list-style-type: disc;

                li {
                    margin: 0;
                    padding: 0 0 .25em 0;
                    @include font-family('Roboto Black');
                    @include responsive-font-size(23);
                    line-height: normal;
                    @include letter-spacing-psd(20);
                    color: #373737;

                    &:first-child {
                        color: #eb3c3f;
                    }
                }
            }
        }

        .step2 {
            margin-top: 30px;

            img {
                margin-left: -40px;
                @include responsive-img;
            }

            .indent {
                margin-left: 8%;
            }

            .industry {
                margin: -20px 0 0 0;
                padding: 0;
                @include font-family('Roboto Black');
                @include responsive-font-size(23);
                line-height: normal;
                @include letter-spacing-psd(20);
                color: #373737;
            }

            #email-signup-list-container {
                margin-top: -8px;

                ul {
                    margin: 1em 0 1em 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        margin: 0;
                        padding: 0 0 .25em 0;

                        input {
                            margin-right: 0.5em;
                        }

                        label {
                            @include font-family('Roboto Light');
                            @include responsive-font-size(18);
                            @include letter-spacing-psd(20);
                            color: #373737;
                        }
                    }
                }
            }

            .thanks {
                margin: 1em 0 0 0;
                padding: 0;
                @include font-family('Roboto Black');
                @include responsive-font-size(17);
                line-height: normal;
                @include letter-spacing-psd(20);
                color: #373737;
            }
        }
    }
}