/*----------------------------------------------------------------------------*/
/* Shopping Cart
/*----------------------------------------------------------------------------*/

body.checkout-cart-index {

    .col-main {
        @include magento-default-page();
        margin-top: 35px;
    }

    .col-main {

        /*----------------------------------------------------------------------------*/
        /* Empty Cart
        /*----------------------------------------------------------------------------*/

        .cart-empty {
			margin-bottom: 180px;
            a {
                @include global-underline;
            }
        }

        .cart {

            /*----------------------------------------------------------------------------*/
            /* Title
            /*----------------------------------------------------------------------------*/

            .page-title {
                @include clearfix;
                margin-bottom: 35px;
                width: 100%;

                h1 {
	                @include base-h-font;
					@include responsive-font-size(strip-units($f-size-xl) + 8);
                    float: left;
                }
            }

            .cart-table {
                float: none;
                width: 100%;

                /*----------------------------------------------------------------------------*/
                /* Cart Items Head
                /*----------------------------------------------------------------------------*/

                thead {

                    /*@include breakpoint(mobile) {
                        display: none;
                    }*/

                    tr.first {

                        th {
                            @include base-h-font;
                            @include responsive-font-size(strip-units($f-size));
                            text-align: center;
                            color: $c-white;
                            background-color: $c-text;

                            &:first-child {
                                padding-left: 17px;
                            }
                        }
                    }
                }

                /*----------------------------------------------------------------------------*/
                /* Cart Items Body
                /*----------------------------------------------------------------------------*/

                tbody {

                    tr {
                        background-color: #ffffff;

                        /*----------------------------------------------------------------------------*/
                        /* Columns Widths
                        /*----------------------------------------------------------------------------*/

                        td:first-child {
                            width: 5%;

                            /*@include breakpoint(mobile) {
                                width: 35%;
                            }*/
                        }

                        td:nth-child(2) {
                            width: 40%;
                        }

                        td:nth-child(3) {
	                        text-align: center;
                            width: 15%;
                        }

                        td:nth-child(4) {
	                        text-align: center;
                            width: 20%;
                        }

                        td:nth-child(5) {
	                        text-align: right;
                            width: 15%;
                        }

                        // Cart remove column.
                        td:nth-child(6) {
                            width: 5%;

                            /*@include breakpoint(mobile) {
                                width: 1%;
                            }*/
                        }

                        /*----------------------------------------------------------------------------*/
                        /* Column Content
                        /*----------------------------------------------------------------------------*/

                        td {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            vertical-align: middle;

                            /*@include breakpoint(mobile) {
                                vertical-align: top;

                                &.product-cart-info,
                                &[data-rwd-label] {
                                    float: right;
                                    width: 100%;
                                    padding-bottom: 0;
                                    border-bottom: none;
                                }
                            }*/
                        }

                        td.product-cart-image {

                            a.product-image {

                                img {
                                    width: auto !important;
                                    @include responsive-img();
                                }
                            }

                            // Mobile edit link.
                            .cart-links {
                                display: none;
                            }
                        }
                    }

                    .product-cart-info {

                        // Mobile remove button.
                        > .btn-remove2 {
                            display: none;
                        }
                    }

                    .product-name {
                        margin: 0;

                        a {
                            @include responsive-font-size(14);
                            color: $c-text;
                            text-transform: capitalize;
                        }
                    }

                    .product-cart-sku {
                        @include responsive-font-size(10);
                        font-style: normal;
                        color: $c-text-gray;

                        /*@include breakpoint(mobile) {
                            display: none;
                        }*/
                    }
					
					.item-options {
						@include responsive-line-height(16);
						color: $c-text;
						margin: 12px 0 0 0;
						
						dt,
						dd {
							@include font-family('Roboto Regular');
							@include responsive-font-size(strip-units($f-size-xs));
							font-style: normal;
							padding-right: 4px;
						}
						
						dd {
							@include font-family('Roboto Bold');
							margin-bottom: 0;
							text-transform: uppercase;
						}
					}
					
					.cart-links {
						li {
							display: inline-block;
							&:not(:nth-last-child(1)) {
								margin-right: 8px;	
							}
							
							a {
								@include responsive-font-size(10);
		                        font-style: normal;
		                        color: $c-text-gray;
		                        text-decoration: underline;
							}
						}
						
						&:after {
							@include clearfix;
						}
					}
					
                    .product-cart-price {
                        padding-top: 0;
                        padding-bottom: 0;

                        /*@include breakpoint(mobile) {
                            display: none;
                        }*/

                        .cart-price {
                            @include responsive-font-size(strip-units($f-size));
                            color: $c-text;
                        }
                    }

                    .product-cart-actions {

                        .qty {
                            width: 3.5em;
                            border: 1px solid #dedede;
                        }

                        // Quantity update button.
                        .btn-update {
                            display: none;
                            @include button-b2(auto, 30px);
                        }
                        
                        .cart-links {
	                        display: none;
                        }
                    }

                    .product-cart-total {
                        @include responsive-font-size(strip-units($f-size));
                        color: $c-text;

                        /*@include breakpoint(mobile) {
                            padding-bottom: 10px !important;
                        }*/
                    }

                    .btn-remove2 {
	                    background: none;
	                    font-size: 0;
                        text-indent: inherit;
                        
                        &:before {
	                    	@include global-font-awesome($f-size-l + 2);
	                    	color: $c-text;
	                    	content: '\f014';
                        }

                        &:hover {
                            //@include use-sprite('cart-delete-hover');
                        }
                    }
                }

                /*----------------------------------------------------------------------------*/
                /* Cart Items Foot / Buttons
                /*----------------------------------------------------------------------------*/

                tfoot {

                    tr {
                        background-color: transparent;

                        .btn-update {
                            @include button-b2(220px, 30px);
                        }

                        // Mobile update button? Causes gap on mobile.
                        button:first-child {
                            display: none;
                        }

                        // Hide empty cart and continue shopping buttons.
                        .btn-empty,
                        .btn-continue,
                        .or {
                            display: none;
                        }
                    }
                }
            }

            /*----------------------------------------------------------------------------*/
            /* Checkout Types/Buttons
            /*----------------------------------------------------------------------------*/

            .checkout-types {
                float: right;
                @include box-sizing(border-box);

                li {
                    margin: 0;

                    .btn-continue {
                        @include button-b2(260px);
                        margin: 0 0 10px 0;
                        vertical-align: top;

                        /*@include breakpoint(mobile) {
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                        }*/
                    }

                    .btn-proceed-checkout {
                        @include button-b1(220px);
                        margin: 0;
                        vertical-align: top;
                    }
                }
            }

            .checkout-buttons-set {
                clear: both;
            }

            /*----------------------------------------------------------------------------*/
            /* Discount Coupon Form
            /*----------------------------------------------------------------------------*/

            .cart-forms {
                float: left;
                width: 35%;

                /*@include breakpoint(mobile) {
                    float: none;
                    width: auto;
                }*/

                #discount-coupon-form {

                    .discount {
	                    background: #f7f7f7;
                        padding: 25px 15px;

                        h2 {
                            @include base-h-font;
                            @include responsive-font-size(strip-units($f-size-l) + 2);
                            background-color: transparent;
                            margin-bottom: 15px;
                            padding: 0;
                        }

                        label {
                            display: none;
                        }

                        .input-text {
	                        @include responsive-font-size(strip-units($f-size-xs));
	                        width: 100%;
                        }

						.button-wrapper {
							margin-top: 12px;
							text-align: right;
						}
                        button {
                            @include button-b1mini(100px);
                        }
                    }
                }
            }

            /*----------------------------------------------------------------------------*/
            /* Totals
            /*----------------------------------------------------------------------------*/

            .cart-totals-wrapper {                
                float: right;
                width: 49%;
                background-color: #ffffff;
                
                &:after {
	                @include clearfix;
                }

                /*@include breakpoint(mobile) {
                    float: none;
                    width: auto;
                    margin-top: 1em;
                }*/

                /*@include breakpoint(mobile) {
                    float: none;
                    width: auto;
                }*/

                .cart-totals {
                    @include clearfix;
                    padding: 37px 20px;
                    text-align: right;
                    width: 100%;

                    /*@include breakpoint(mobile) {
                        padding-bottom: 15px;
                    }*/

                    #shopping-cart-totals-table {
	                    color: $c-text;
                        width: 100%;

                        td {
                            padding-right: 0;
                            text-transform: uppercase;

                            &:first-child {
                                padding-right: 20px;
                                width: 68%;
                            }
                        }

                        tfoot {
                            @include base-h-font;
                            @include responsive-font-size(20);
                            color: #313131;

                            td {
	                            @include font-family('Roboto Bold');
                                padding: 10px 0 25px 0;
                            }

                            strong {
                                @include font-family('Roboto Bold');
                            }
                        }
                        
                        tbody td {
	                        color: $c-text-gray;
                        }
                    }
                }
            }

            /*----------------------------------------------------------------------------*/
            /* Cross Sell
            /*----------------------------------------------------------------------------*/

            .crosssell {
                clear: left;
                padding: 62px 0;
                @include carousel(30%);

                // Hack fix for large space after carousel.
                .product-info {
                    //min-height: 0 !important;
                    //padding: 0 !important;
                }

                .actions {
                    height: 0; // Prevent Magento js from setting height/padding for hidden actions block;
                    display: none;
                }
            }
        }
    }
}