/*----------------------------------------------------------------------------*/
/* Custom Styles: Add project customizations (if any).
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Cart
/*----------------------------------------------------------------------------*/

body.checkout-cart-index {

    .checkout-types {

        // Hide paypal logo on cart (desktop only). Show paypal on cart mobile/tablet.
        .paypal-logo {
            display: none;

            @include breakpoint(tabletLandscape) {
                display: block;
            }
        }
    }
}

/*----------------------------------------------------------------------------*/
/* Checkout
/*----------------------------------------------------------------------------*/

body.checkout-onepage-index {

    // Hide 'Save Tax Exempt Details to Account' checkbox. Avoid checkout friction.
    #taxexempt-list li:nth-child(2) {
        display: none;
    }

    .trust-container {
        margin-top: 1em;
    }

    #av-popup-content {

        button.back {
            @include button-b3(100px, 44px);
        }

        button.select {
            @include button-b1(100px, 44px);
        }
    }
}

/*----------------------------------------------------------------------------*/
/* Checkout Success / Order Confirmation
/*----------------------------------------------------------------------------*/

body.checkout-onepage-success {

    .payment-method-notes-container {
        max-width: 75%;
        font-weight: bold;

        @include breakpoint(mobile) {
            max-width: none;
        }
    }
}

/*----------------------------------------------------------------------------*/
/* Shopping Cart
/*----------------------------------------------------------------------------*/

body.checkout-cart-index {

    .cart-help-container {
        clear: both;
        padding-top: 25px;

        > .inner-tube {
            padding: 60px 30px;
            border: 5px solid #7a7a7a;

            @include breakpoint(mobile) {
                padding: 20px 15px;
            }

            .content-container {

                @include breakpoint(sm) {
                    margin-top: 2em;
                }

                &.index-1 {
                    margin-top: 0em;
                }

                img {
                    float: left;
                    margin: 0 15px 0 0;
                }

                h3 {
                    margin: 0;
                    padding: 0;
                    @include font-family('Avenir Black');
                    @include responsive-font-size(18);
                    text-transform: uppercase;
                    color: #555554;
                }

                p {
                    @include responsive-font-size(14);
                    line-height: 20px;
                    color: #646464;
                }
            }
        }
    }
}