/*----------------------------------------------------------------------------*/
/* Forgot Password
/*----------------------------------------------------------------------------*/

body.customer-account-forgotpassword,
body.customer-account-confirmation {

    .col-main {
        @include magento-default-page2();

        .page-title span,
        h2,
        p.required {
            display: none;
        }

        .fieldset {
            margin-left: 0;

            .form-instructions {
	            @include responsive-font-size(strip-units($f-size));
	            font-style: normal;
	            margin: 12px 0 20px 0;
                color: $c-text-gray;
            }
        }

        .buttons-set {
            margin-left: 0;
            border-top-style: none;
            text-align: left;

            @include breakpoint(mobile) {
                text-align: center;
            }

            .back-link {
                display: none;
            }

            button {
                float: none;
                margin: 0;
                @include button-b1(150px);
            }
        }
    }
}