/*----------------------------------------------------------------------------*/
/* Login & Register
/*----------------------------------------------------------------------------*/

body.customer-account-login {

    .col-main {
        @include magento-default-page();

        .col2-set {
			@include base-page-title;
			
			.col-1,
			.col-2 {
				margin-top: 0;
			}
			
            .information {
	            @include responsive-font-size(strip-units($f-size-xs));
	            margin: 12px 0 5px 0;
                color: $c-text-gray;
            }
			
			.form-list {
				margin-top: 20px;
				
				@include base-required-fields;
			}
			
            .buttons-set {
	            button {
		            @include button-b1(150px);
	            }
                @include breakpoint(mobile) {
                    text-align: center;
                }
            }

            p.required {
                display: none;
            }
        }

        .col2-set {
			margin-top: 20px;
			
            .registered-users {
				
				.information {
					margin-top: 20px;
				}
				
                ul.form-list {
	                margin-left: 0;
	                margin-right: 0;
	                padding: 0;
                    list-style: none;

                    .input-box {
                        padding-right: 0;
                    }
                }
                
                .f-left {
	                @include responsive-font-size(strip-units($f-size-xs));
	                color: $c-text-gray;
                }

                @include breakpoint(mobile) {
                    float: none;
                    width: auto;
                }
            }
            
            .account-create {
	            .form-list .control label {
		            background: none;
		            padding-left: 25px;
	            }
	            
	            .form-list .control .checkbox {
		            margin-left: 0;
	            }
            }
        }
    }
}