/*----------------------------------------------------------------------------*/
/* Login
/*----------------------------------------------------------------------------*/

body.customer-account-login {

    .col-main {
        @include magento-default-page();

        .col2-set {

            h2 {
                padding: 17px 15px;
                @include base-h-font;
                @include responsive-font-size($baseHeadingFontSizeH2);
                color: $baseHeadingColorH2;
                background-color: $baseBackgroundColor2;
            }

            .form-instructions {
                margin: 2em 0;
                @include responsive-font-size(14);
                font-style: normal;
                color: #666666;
            }

            .buttons-set {

                @include breakpoint(mobile) {
                    text-align: center;
                }
            }

            p.required {
                display: none;
            }

            .new-users {
                margin-top: 0;
                padding-top: 0;

                h2 {

                    @include breakpoint(mobile) {
                        margin-top: 60px;
                    }
                }

                .button {
                    @include button-blink1(260px);
                }
            }

            .registered-users {
                margin-top: 0;
                padding-top: 0;
                border-left-style: none;

                @include breakpoint(mobile) {
                    padding-right: 0;
                }

                .form-list {
                    padding-left: 0;

                    a.f-left {
                        @include responsive-font-size(11);
                        font-weight: normal;
                        @include global-underline();
                        text-transform: uppercase;
                        color: #999999;

                        @include breakpoint(mobile) {

                            span {
                                display: none;
                            }
                        }
                    }
                }

                .buttons-set {
                    @include base-required-fields;

                    button {
                        @include button-b1(180px);
                    }
                }
            }
        }

        // ABP Customizations.
        .col2-set {

            .new-users {
                border-left-style: none;

                @include breakpoint(mobile) {
                    float: none;
                    width: auto;
                    padding-left: 0;
                }

                .benefits {
                    display: none;
                }
            }

            .registered-users {

                ul.form-list {
                    list-style: none;

                    .input-box {
                        padding-right: 0;
                    }
                }

                @include breakpoint(mobile) {
                    float: none;
                    width: auto;
                }
            }
        }
    }
}