/*----------------------------------------------------------------------------*/
/* Reset Password
/*----------------------------------------------------------------------------*/

body.customer-account-resetpassword {

    .col-main {
        @include magento-default-page2();

        .buttons-set {
            margin-left: 0;
            border-top-style: none;
            text-align: left;

            @include breakpoint(mobile) {
                text-align: center;
            }

            .back-link {
                display: none;
            }

            button {
                float: none;
                margin: 0;
                @include button-b1(180px);
            }
        }
    }
}