/*----------------------------------------------------------------------------*/
/* Banner Enhanced (Home)
/*----------------------------------------------------------------------------*/

.cms-home #banners-container {

    $desktopBannerHeight: 500;
    $mobileBannerHeight: 423;

    .banners {
        width: 100%; // Fix issue switching between desktop/mobile.

        @include breakpoint(mobile) {
            overflow: visible !important;
        }

        > .banner {

            // Some of these styles will be set by the plugin (by default) but setting them here helps avoid flash-of-unstyled-content
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            max-width: $pageMaxWidth;
            padding: 0;

            // Make banner image responsive.
            img {
                width: 100%;
            }
        }

        .navigation {
            position: absolute;
            z-index: 102;
            top: 50%;
            width: 47px;
            height: 108px;
            margin-top: -15px; // 50% of height to force vertical center.
            cursor: pointer;
        }

        .cycle-next {
            right: 1.5%;
            @include use-sprite('banner-next');

            &:hover {
                @include use-sprite('banner-next-hover');
            }
        }

        .cycle-prev {
            left: 1.5%;
            @include use-sprite('banner-prev');

            &:hover {
                @include use-sprite('banner-prev-hover');
            }
        }
    }

    /*----------------------------------------------------------------------------*/
    /* Cycle Pager
    /*----------------------------------------------------------------------------*/

    .cycle-pager {
        position: absolute;
        z-index: 102;
        bottom: 3.5%;
        width: 100%;
        text-align: center;

        @include breakpoint(mobile) {
            bottom: 10%;
        }

        span {
            margin-right: 0.15%;
            @include use-sprite('banner-pager');
            display: inline-block;
            cursor: pointer;

            &.cycle-pager-active {
                @include use-sprite('banner-pager-active');
                display: inline-block;
            }
        }
    }
}