/*----------------------------------------------------------------------------*/
/* Button
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Define project button mixins. Add/subtract/customize as needed by project.
/*----------------------------------------------------------------------------*/

// Black button.
@mixin button-b1($width: auto, $height: 30px) {
    @include button-color($width, $height, $font-size: 16, $color: #ffffff, $background-color: #000000, $hover-color: #ffffff, $hover-background: #505050, $border-radius: 0);
    @include font-family('Roboto Medium');
    text-transform: uppercase;
}

// White button.
@mixin button-b2($width: auto, $height: 30px) {
    @include button-color($width, $height, $font-size: 10, $color: #000000, $background-color: #ffffff, $hover-color: #505050, $hover-background: #ffffff, $border-radius: 0);
    @include font-family('Roboto Regular');
    text-transform: uppercase;
    border: 1px solid #000000;

    &:hover {
        border: 1px solid #505050;    
    }
}

// Mini Black button.
@mixin button-b1mini($width: auto, $height: 30px) {
    @include button-color($width, $height, $font-size: 13, $color: #ffffff, $background-color: #000000, $hover-color: #ffffff, $hover-background: #505050, $border-radius: 0);
    @include font-family('Roboto Medium');
    text-transform: uppercase;
}

// shop now button.
@mixin button-b3($width: auto, $height: 30px) {
    @include button-color($width, $height, $font-size: 14, $color: #000000, $background-color: #ffffff, $hover-color: #000000, $hover-background: #ffffff, $border-radius: 0);
    @include font-family('Roboto Medium');
    border: 2px solid #000000;
    text-transform: uppercase;
}

// Display link as b1.
@mixin button-blink1($width: auto, $height: 30px, $font-size: 16) {
    @include button-from-link($width, $height, $font-size, $color: #ffffff, $background-color: #000000, $hover-color: #ffffff, $hover-background: #000000, $border-radius: 0);
    @include font-family('Roboto Medium');
    padding: 0;
    white-space: nowrap;
}

// Display link as b2.
@mixin button-blink2($width: auto, $height: 30px, $font-size: 10) {
    @include button-from-link($width, $height, $font-size, $color: #000000, $background-color: #ffffff, $hover-color: #000000, $hover-background: #ffffff, $border-radius: 0);
    @include font-family('Roboto Medium');
    padding: 0;
    border: 1px solid #000000;
    white-space: nowrap;
}

// Display link as b3.
/*@mixin button-blink3($width: auto, $height: 44px, $font-size: 14) {
    @include button-from-link($width, $height, $font-size, $color: #ffffff, $background-color: #bbbbbb, $hover-color: #ffffff, $hover-background: #404041, $border-radius: 0);
    padding: 0 30px;
    font-weight: normal;
    white-space: nowrap;
    @include font-family('Roboto Bold');
}*/

/*----------------------------------------------------------------------------*/
/* Standard button styles. In general, do not modify these.
/*----------------------------------------------------------------------------*/

@mixin button-image($width, $height, $image) {

    > span {
        width: $width;
        height: $height;
        line-height: $height;
        background-image: url($image);
        display: block;
        text-indent: -999px;
        overflow: hidden;
        font-size: 1px;
        line-height: 1px;
    }
}

@mixin button-color($width, $height, $font-size, $color, $background-color, $hover-color, $hover-background, $border-radius) {
    width: $width;
    height: $height;
    @include responsive-font-size($font-size);
    line-height: 1;
    text-decoration: none;
    color: $color;
    background-color: $background-color;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    cursor: pointer;

    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;

    &:hover {
        color: $hover-color;
        background-color: $hover-background;
    }

    span {
        width: auto;
        height: auto !important;
        padding: 0 !important;
        font-family: inherit;
        font-size: inherit;
        text-transform: inherit;
        text-decoration: inherit;
        color: inherit;
        background-image: none;

        span {
            width: auto;
            height: auto !important;
            padding: 0 !important;
            font-family: inherit;
            font-size: inherit;
            text-transform: inherit;
            text-decoration: inherit;
            background-image: none;
            color: inherit;

            &:hover {
                color: $hover-color;
                text-decoration: none;
            }
        }
    }
}

@mixin button-gradient($width, $height, $font-size, $color, $color-from, $color-to, $border-radius) {

    > span {
        width: $width;
        height: $height;
        line-height: $height;

        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        border-radius: $border-radius;
        background: $color-from;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from($color-from), to($color-to));
        background: -webkit-linear-gradient($color-from, $color-to);
        background: -moz-linear-gradient($color-from, $color-to);
        background: -ms-linear-gradient($color-from, $color-to);
        background: -o-linear-gradient($color-from, $color-to);
        background: linear-gradient($color-from, $color-to);
        //-pie-background: linear-gradient($color-from, $color-to);
        //behavior: url(/skin/frontend/preserve/master/css/PIE.htc);
    }

    span span {
        width: $width;
        height: $height;
        line-height: $height;
        @include responsive-font-size($font-size);
        font-weight: bold;
        text-transform: none;
        color: #ffffff;
        background-image: none;
    }
}

@mixin button-to-link($font-size, $color) {
    span {
        background-image: none;
    }

    span span {
        @include responsive-font-size($font-size);
        color: $color;
        text-decoration: none;
    }

    &:hover span span {
        text-decoration: underline;
    }
}

@mixin button-from-link($width, $height, $font-size, $color, $background-color, $hover-color, $hover-background, $border-radius) {
    display: inline-block;
    width: $width;
    height: $height;
    line-height: $height;
    @include responsive-font-size($font-size);
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
    cursor: pointer;

    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    background: $background-color;

    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;

    //behavior: url(/skin/frontend/preserve/master/css/PIE.htc);

    &:hover {
        text-decoration: none;
        color: $hover-color !important;
        background-color: $hover-background;
    }
}

@mixin link-to-button-image($width, $height, $image) {
    width: $width;
    height: $height;
    line-height: $height;
    background-image: url($image);
    display: block;
    text-indent: -999px;
    overflow: hidden;
    font-size: 1px;
    line-height: 1px;
}