/*----------------------------------------------------------------------------*/
/* Global Variables
/*----------------------------------------------------------------------------*/

$pageMaxWidth: 1024;
$pagePadding: 20;
$pagePaddingMobile: 10;

/*----------------------------------------------------------------------------*/
/* Global Theme Mixins
/*----------------------------------------------------------------------------*/

@mixin global-page-margin-side() {

    @include breakpoint(min, $desktopWidth) {
        padding-right: $pagePadding*1px;
        padding-left: $pagePadding*1px;
    }

    @include breakpoint(max, $desktopWidth - 1) {
        padding-right: $pagePaddingMobile*1px;
        padding-left: $pagePaddingMobile*1px;
    }
}

@mixin global-page-margin-side-reset() {

    @include breakpoint(max, $desktopWidth) {
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint(tabletLandscape) {
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint(mobile) {
        padding-right: 0;
        padding-left: 0;
    }
}

@mixin global-page-margin-side-right() {

    @include breakpoint(max, $desktopWidth) {
        padding-right: $pagePadding*1px;
    }

    @include breakpoint(tabletLandscape) {
        padding-right: $pagePadding*1px;
    }

    @include breakpoint(mobile) {
        padding-right: $pagePaddingMobile*1px;
    }
}
@mixin global-page-margin-side-left() {

    @include breakpoint(max, $desktopWidth) {
        padding-left: $pagePadding*1px;
    }

    @include breakpoint(tabletLandscape) {
        padding-left: $pagePadding*1px;
    }

    @include breakpoint(mobile) {
        padding-left: $pagePaddingMobile*1px;
    }
}


/*----------------------------------------------------------------------------*/
/* Global Mixins
/*----------------------------------------------------------------------------*/

@mixin font-family($font-family) {
    font-family: 'Roboto';
    @if $font-family == 'Roboto Light' {
        font-weight: 300;
    } @else if $font-family == 'Roboto Regular' {
        font-weight: 400;
    } @else if $font-family == 'Roboto Medium' {
        font-weight: 500;
    } @else if $font-family == 'Roboto Bold' {
        font-weight: 700;
    } @else if $font-family == 'Roboto Bold Italic' {
        font-weight: 700;
        font-style: italic;
    } @else if $font-family == 'Roboto Ultra' {
        font-weight: 900;
    }
    //font-family: '#{$font-family}', sans-serif;
}

// Specifically for anchor tags. Default to underline and remove on hover.
@mixin global-underline {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

// Specifically for anchor tags. Default to no underline and underline on hover.
@mixin global-no-underline {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #ee3d42;
    }
}

/*----------------------------------------------------------------------------*/
/* Global Opacity
/*----------------------------------------------------------------------------*/
@mixin global-opacity-onhover($opacity: 0.6, $opacity2: 60) {
	&:hover {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity2)";
	
	  /* IE 5-7 */
	  filter: alpha(opacity=$opacity2);
	
	  /* Netscape */
	  -moz-opacity: $opacity;
	
	  /* Safari 1.x */
	  -khtml-opacity: $opacity;
	
	  /* Good browsers */
	  opacity: $opacity;
	}
}

/*----------------------------------------------------------------------------*/
/* Global FontAwesome
/*----------------------------------------------------------------------------*/
@mixin global-font-awesome($font-size) {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: $font-size;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*----------------------------------------------------------------------------*/
/* Messages
/*----------------------------------------------------------------------------*/

.messages {
    margin-bottom: $gap;
    @include responsive-font-size(14);
    color: #666666;
}

.messages li li {
    position: relative;
    margin-bottom: 5px;
    padding: 7px 10px 7px 20px;
    background-color: transparent;
}

.messages li li:before {
    top: 50%;
    left: 0;
    margin-top: -12px;
}

.messages li span {
    padding-left: 28px;
}

.messages .error-msg li {
    border: 1px solid $c-danger;
}

.messages .error-msg li:before {
    @include triangle(right, 6px, $c-danger);
}

.messages .notice-msg li {
    border: 1px solid $c-warn;
}

.messages .notice-msg li:before {
    @include triangle(right, 6px, $c-warn);
}

.messages .success-msg li {
    border: 1px solid $c-success;
}

.messages .success-msg li:before {
    //@include triangle(right, 6px, $c-success);
    //@include use-sprite('message-success');
    left: 16px;
    border-style: none;
}

.messages .notice-msg li:before {
    //@include triangle(right, 6px, $c-warn);
    //@include use-sprite('message-notice');
    left: 16px;
    border-style: none;
}

.messages .error-msg li:before {
    //@include triangle(right, 6px, $c-danger);
    //@include use-sprite('message-error');
    left: 16px;
    border-style: none;
}

/*----------------------------------------------------------------------------*/
/* Owl Caraousel Nav
/*----------------------------------------------------------------------------*/
.owl-carousel {
	position: relative;
}

.owl-buttons {
	.owl-prev,
	.owl-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		
		i {
			@include responsive-font-size(40);
			color: $c-text-white;
		}
	}
	
	.owl-prev {
		left: 0;
	}
	
	.owl-next {
		right: 0;
	}
}


/*----------------------------------------------------------------------------*/
/* Forms, Input, Validation.
/*----------------------------------------------------------------------------*/

$globalInputHeight: 44;

input:focus {
    outline: none;
    border-color: auto;
}

.main,
.quickview-container {

    .input-text {
        height: $globalInputHeight*1px;
        background-image: none;
        border: 1px solid #cccccc;

        @include breakpoint(mobile) {
            width: 100%;
            @include box-sizing(border-box);
        }
    }

    select {
        height: $globalInputHeight*1px;
        line-height: $globalInputHeight*1px;
        background-image: none;
        border: 1px solid #cccccc;
    }

    textarea {
        background-image: none;
        border: 1px solid #cccccc;
    }

    .form-list label {
        @include responsive-font-size(14);
        text-transform: uppercase;
        color: #666666;

        &:first-child {
            width: auto; // Prevent wrapping of label text.
        }

        em {
            color: #7f1212;
        }
    }

    p.required {
        @include responsive-font-size(12);
        text-transform: uppercase;
        color: #7f1212;
    }
}