/*----------------------------------------------------------------------------*/
/* Global Variables
/*----------------------------------------------------------------------------*/

$pageMaxWidth: 1024;
$pagePadding: 20;
$pagePaddingMobile: 10;

/*----------------------------------------------------------------------------*/
/* Global Theme Mixins
/*----------------------------------------------------------------------------*/

@mixin global-page-margin-side() {

    @include breakpoint(max, strip-units($max-container-width)) {
        padding-right: $pagePadding*1px;
        padding-left: $pagePadding*1px;
    }

    @include breakpoint(mobile) {
        padding-right: $pagePaddingMobile*1px;
        padding-left: $pagePaddingMobile*1px;
    }
}

@mixin global-page-margin-side-reset() {

    @include breakpoint(max, $desktopWidth) {
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint(tabletLandscape) {
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint(mobile) {
        padding-right: 0;
        padding-left: 0;
    }
}

@mixin global-page-margin-side-right() {

    @include breakpoint(max, $desktopWidth) {
        padding-right: $pagePadding*1px;
    }

    @include breakpoint(tabletLandscape) {
        padding-right: $pagePadding*1px;
    }

    @include breakpoint(mobile) {
        padding-right: $pagePaddingMobile*1px;
    }
}
@mixin global-page-margin-side-left() {

    @include breakpoint(max, $desktopWidth) {
        padding-left: $pagePadding*1px;
    }

    @include breakpoint(tabletLandscape) {
        padding-left: $pagePadding*1px;
    }

    @include breakpoint(mobile) {
        padding-left: $pagePaddingMobile*1px;
    }
}


/*----------------------------------------------------------------------------*/
/* Global Mixins
/*----------------------------------------------------------------------------*/

@mixin font-family($font-family) {
    font-family: 'Roboto';
    @if $font-family == 'Roboto Light' {
        font-weight: 300;
    } @else if $font-family == 'Roboto Regular' {
        font-weight: 400;
    } @else if $font-family == 'Roboto Medium' {
        font-weight: 500;
    } @else if $font-family == 'Roboto Bold' {
        font-weight: 700;
    } @else if $font-family == 'Roboto Bold Italic' {
        font-weight: 700;
        font-style: italic;
    } @else if $font-family == 'Roboto Ultra' {
        font-weight: 900;
    }
    //font-family: '#{$font-family}', sans-serif;
}

// Specifically for anchor tags. Default to underline and remove on hover.
@mixin global-underline {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

// Specifically for anchor tags. Default to no underline and underline on hover.
@mixin global-no-underline {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #ee3d42;
    }
}

/*----------------------------------------------------------------------------*/
/* Global Opacity
/*----------------------------------------------------------------------------*/
@mixin global-opacity-onhover($opacity: 0.6, $opacity2: 60) {
	&:hover {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity2)";
	
	  /* IE 5-7 */
	  filter: alpha(opacity=$opacity2);
	
	  /* Netscape */
	  -moz-opacity: $opacity;
	
	  /* Safari 1.x */
	  -khtml-opacity: $opacity;
	
	  /* Good browsers */
	  opacity: $opacity;
	}
}

/*----------------------------------------------------------------------------*/
/* Global FontAwesome
/*----------------------------------------------------------------------------*/
@mixin global-font-awesome($font-size) {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: $font-size;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*----------------------------------------------------------------------------*/
/* Prevent Blue Highlight from browser
/*----------------------------------------------------------------------------*/
body * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*----------------------------------------------------------------------------*/
/* Body Overlay & Global Message
/*----------------------------------------------------------------------------*/
.store-popup {
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	
	.content {
		//@include responsive-font-size(strip-units($f-size-s));
	    display: block;
	    margin: 0 auto;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    width: 40%;
	    top: 50%;
	    padding: 20px;
	    transform: translateY(-50%);
	    
	    h1 {
		    font-weight: bold;
		    margin: 15px auto 25px auto;
		    text-align: center;
		    text-transform: uppercase;
	    }
	    
	    .email {
		    font-style: italic;
	    }
	    
	    p {
		    text-align: left;
		    
		    &.author {
			    @include font-family('Roboto Medium');
			    display: block;
			    clear: both;
			    margin-top: 15px;
		    }
	    }
	}
	
	&.thesis-only .content {
	    background: $c-white;
	    border: 5px solid $c-black;
	}
	
	.store-information-close {
	    position: relative;

	    a:before {
		    @include global-font-awesome(18px);
		    content: '\f00d';
		    color: $c-text;
		    height: 16px;
		    position: absolute;
		    right: -10px;
		    top: -10px;
	    }
	    
	    span {
		    color: transparent;
		    font-size: 0;
		    visibility: hidden;
	    }
	}
}
/*----------------------------------------------------------------------------*/
/* Messages
/*----------------------------------------------------------------------------*/
a {
	outline: 0 !important;
}
.messages {
    margin-bottom: $gap;
    @include responsive-font-size(14);
    color: #666666;
}

.messages li li {
    position: relative;
    margin-bottom: 5px;
    padding: 7px 10px 7px 20px;
    background-color: transparent;
}

.messages li li:before {
    top: 50%;
    left: 0;
    margin-top: -12px;
}

.messages li span {
	@include font-family('Roboto Bold');
	@include responsive-font-size(strip-units($f-size-xs));
    padding-left: 16px;
    text-transform: uppercase;
}

.messages .error-msg li {
    border: none;
    
    span {
	    color: $c-red;
    }
}


.messages .notice-msg li {
    border: none;
    
    span {
	    color: $c-warn;
    }
}

.messages .success-msg li {
    border: none;
    
    span {
	    color: green;
    }
}

.messages .success-msg li:before {
    @include global-font-awesome(16px);
    color: green;
    content: '\f058';
    left: 16px;
    top: 22px;
    border-style: none;
}

.messages .notice-msg li:before {
    @include global-font-awesome(16px);
    content: '\f06a';
    color: $c-warn;
    left: 16px;
    top: 22px;
    border-style: none;
}

.messages .error-msg li:before {
    @include global-font-awesome(16px);
    color: $c-red;
    content: '\f057';
    left: 16px;
    top: 22px;
    border-style: none;
}

/*----------------------------------------------------------------------------*/
/* Breadcrumbs
/*----------------------------------------------------------------------------*/
.main .breadcrumbs {
	
	li {
		@include font-family('Roboto Regular');
		color: $c-text;
		text-transform: uppercase;
		
		@include breakpoint(desktop) {
		    @include responsive-font-size(strip-units($f-size-s));
	    }
	    
	    @include breakpoint(mobile) {
		    @include responsive-font-size(strip-units($f-size-xs));
	    }
		
		a:hover {
			text-decoration: none;
		}
		
		a,
		span,
		strong {
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			text-transform: inherit;
		}
	}
	
}


/*----------------------------------------------------------------------------*/
/* Owl Caraousel Nav
/*----------------------------------------------------------------------------*/
.owl-carousel {
	position: relative;
}

.owl-buttons {
	.owl-prev,
	.owl-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		
		i {
			@include responsive-font-size(40);
			color: $c-text-white;
		}
	}
	
	.owl-prev {
		left: 0;
	}
	
	.owl-next {
		right: 0;
	}
}

/*----------------------------------------------------------------------------*/
/* Ratings
/*----------------------------------------------------------------------------*/

.product-info,
.col-left.sidebar,
.products-grid,
.product-shop,
.product-img-box,
#customer-reviews,
.ratings-table {
	
	.ratings {
		
		.rating-box,
		.rating {
			width: 84px;
			height: 15px;
			background-position: left center;
		}
			
		.rating-box {
			overflow: hidden;
			@include background-retina('sprites/icon_rating-empty.png','sprites2x/icon_rating-empty.png');
			
		}
		
		.rating {
			@include background-retina('sprites/icon_rating-full.png','sprites2x/icon_rating-full.png');
		}
		
		.rating-box,
		.amount {
			float: left;
		}
		
		.amount {
			@include responsive-font-size(strip-units($f-size-s));
			@include font-family('Roboto');
			margin: 2px 0 0 12px;
			color: $c-text;
		}
	
	}
}