/*----------------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Header Container
/*----------------------------------------------------------------------------*/

header {

    .inner-tube {
        clear: left;
        max-width: ($pageMaxWidth*1px);
        margin: 0 auto;
    }
}