/*----------------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Header Container
/*----------------------------------------------------------------------------*/

.page header {
	@include global-page-margin-side();
    border-bottom: 2px solid $c-black;
	position: relative;
	
	.page-header-container {
		max-width: $max-content-width;
		margin: 0 auto;
		position: static;
	}
	
	.toplink-3column-wrapper {
		width: 100%;
		&:after {
			@include clearfix;
		}
	}

    .header-center {
    	left: 50%;
    	position: absolute;
    	top: 5%;
    	transform: translate(-50%, 0);
    }

    .header-left,
    .header-right {
    	width: 33.333%;
    }

    .header-left {
    	float: left;
    }

    .header-right {
    	float: right;
    	text-align: right;
    }
}

/*----------------------------------------------------------------------------*/
/* Menu
/*----------------------------------------------------------------------------*/
.header-left {
	margin-top: 78px;
	
	.menu-nav {
		li {
			display: inline-block;
		}
	}
}

/*----------------------------------------------------------------------------*/
/* Logo
/*----------------------------------------------------------------------------*/
.header-center {
	.logo {
		float: none;
		height: inherit;
		margin: 0 auto;
		padding: 0;
		width: 128px;

		img {
			width: 100%;
		}
	}
}

/*----------------------------------------------------------------------------*/
/* Top Link : Search, Account, Minicart
/*----------------------------------------------------------------------------*/
.header-right {
	margin-top: 98px;

	#header-search,
	.link-account,
	.header-minicart {
		display: inline-block;
		vertical-align: bottom;
	}

	#header-search,
	.link-account {
		margin-right: 30px;
	}

	#header-search > a,
	.link-account,
	.header-minicart > a {
		line-height: 1;
		padding-bottom: 7px;
	}	

	#header-search > a,
	.header-minicart > a {
		display: block;
	}
}

/*----------------------------------------------------------------------------*/
/* Search
/*----------------------------------------------------------------------------*/
#header-search {
	height: auto;
	position: relative;
    right: inherit;
    top: inherit;
    width: auto;
}

.link-search {

	> a {
		@include font-family('Roboto Bold');
        @include responsive-font-size(strip-units($f-size-xs));
        color: $c-black;
        text-transform: uppercase;
		
		&:hover {
			color: $c-text-gray;
			text-decoration: none;
		}
		
		@include breakpoint(tablet) {
			color: transparent;
			font-size: 0;
			
	        &:after {
	            @include use-sprite('icon_search');
	            content: "";
	            display: inline-block;
	        }
        }
	}

	#search_mini_form {
		display: none;
		
		.input-box {
			line-height: 1;
			
			input {
		        @include responsive-font-size(strip-units($f-size-xs));
		        border: none;
		        border-bottom: 1px solid $c-black;
				color: $c-black;
				line-height: 1;
		        height: 25px;
		        padding: 0 28px 0 0;
		        text-transform: lowercase;
	        }
	        
	        input::-webkit-input-placeholder {
			   color: $c-black;
			}
			
			input:-moz-placeholder { /* Firefox 18- */
			   color: $c-black;  
			}
			
			input::-moz-placeholder {  /* Firefox 19+ */
			   color: $c-black;  
			}
			
			input:-ms-input-placeholder {  
			   color: $c-black;  
			}

	        
	        .search-button {
		        height: 17px;
		        padding: 0;
		        top: 40%;
		        width: 16px;
	        }
	        
	        .search-button:before {
		        @include use-sprite('icon_search');
	            content: "";
	            display: inline-block;
	        }
		}
	}
}
/*----------------------------------------------------------------------------*/
/* Link Account
/*----------------------------------------------------------------------------*/
.link-account {
	
	&:hover {
		color: $c-text-gray;
		text-decoration: none;
	}
	
	.label {
		@include font-family('Roboto Bold');
        @include responsive-font-size(strip-units($f-size-xs));
        color: $c-black;
        text-transform: uppercase;
		
		@include breakpoint(tablet) {
			color: transparent;
	        font-size: 0;
	
	        &:after {
	            @include use-sprite('icon_account');
	            content: "";
	            display: inline-block;
	        }
	    }
	}
}

/*----------------------------------------------------------------------------*/
/* Mini Cart
/*----------------------------------------------------------------------------*/
.header-minicart {
	
	&.desktop {
		position: relative;
	}
	
	> a {
		float: none;
		height: inherit;
		padding: 0;
		width: auto;
	}
	.icon {
		display: none;
	}
	.label {
		color: transparent;
        font-size: 0;

        &:after {
            @include use-sprite('icon_minicart');
            content: "";
            display: inline-block;
        }
	}
	.count {
		@include responsive-font-size(strip-units($f-size-xxs));
		background-color: $c-black;
		border-radius: 50%;
		color: $c-white !important;
		height: 20px;
		line-height: 20px;
		position: absolute;
		text-align: center;
		width: 20px;
		
		&:before,
		&:after {
			display: none;
		}
	}
	
	#header-cart .minicart-wrapper {
		
		.block-subtitle {
			@include font-family('Roboto Regular');
			@include responsive-font-size(strip-units($f-size-xs));
			border-color: #dedede;
			padding: 0 0 4px 0;
			margin: 0;
			text-transform: uppercase;
		}
		
		#cart-sidebar li {
			overflow: auto;
			border-bottom: 1px solid #dedede;
			padding: 10px 0;
			
			&:after {
				@include clearfix;	
			}
		}
		
		.product-image {
			float: left;
			width: 15%;
			
			img {
				width: 100%;
			}
		}
		
		.product-details {
			@include font-family('Roboto Regular');
			@include responsive-font-size(strip-units($f-size-xs));
			float: right;
			text-align: left;
			width: 80%;
		}
		
		.product-name {
			text-transform: capitalize;
		}
		
		.info-wrapper {
			
			.left {
				float: left;
			}
			.right {
				float: right;
			}
			
			.value {
				@include font-family('Roboto Bold');
			}
			
			&:after {
				@include clearfix;
			}	
		}
		
		.truncated {
			cursor: default;
			margin: 8px 0;
			
			.truncated_full_value {
				z-index: 9;
			}
			
			.item-options {
				@include responsive-font-size(strip-units($f-size-xs));
				background-color: transparent;
				border: none;
				display: block;
				padding: 0;
				position: static !important;
				overflow: auto;
				left: inherit;
				top: inherit;
				width: auto;
				z-index: inherit;
				
				dt {
					@include font-family('Roboto Regular');
					font-style: normal;
					padding: 0;
				}
				
				dd {
					@include font-family('Roboto Bold');
					margin: 0;
					padding-left: 4px;
					text-transform: uppercase;
				}
			}
			
			.item-options:after {
				display: none;
			}
		}
		
		.link-update {
			color: $c-text-gray;
			text-align: right;
		}
		
		.subtotal {
			margin-top: 20px;
			
			.label {
				@include responsive-font-size(strip-units($f-size-xs));
				color: $c-black;
			}
			.label:after {
				display: none;
			}
		}
		
		.minicart-actions > ul {
			display: inline-block;
			width: auto;
		}
		
		.minicart-actions > ul > li > a.checkout-button {
			@include button-blink1(135px, 30px, 10);
			&:hover {
				@include global-opacity-onhover;
			}
		}
		
		.minicart-actions .cart-link {
			@include button-blink2(135px, 30px, 10);
			&:hover {
				@include global-opacity-onhover;
			}
		}
	}
}