/*----------------------------------------------------------------------------*/
/* Layered Navigation
/*----------------------------------------------------------------------------*/

.block-layered-nav {
    padding: 0;
    background-color: #ffffff;

    > .block-title {
        display: none;
    }

	.block-content {
		margin-top: 25px;
	}

    .currently {
        margin: 0;
        padding: 0;
        @include font-family('Roboto Light');
        @include responsive-font-size(14);
        color: #404041;

        .block-subtitle {
            @include font-family('Roboto Black');
            font-weight: normal;
            text-transform: uppercase;
        }
        
        .swatch-link,
        .swatch-link span,
        .swatch-link span img {
	        border-radius: 50%;
        }

        ol {

            li {
	            @include responsive-font-size(strip-units($f-size-s));
				clear: both;
				display: block;
				margin-bottom: 8px;
				
                .btn-remove {
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: transparent;
                    }
                    
                    &:hover:after {
	                    color: $c-text;
                    }

                    &:after {
	                    @include global-font-awesome(16);
	                    color: #a7a7a7;
                        content: '\f147';
                        margin-top: 8px;
                    }
                }
                
                .value {
	                display: block;
                }
            }
        }
    }

    .actions {
	    clear: both;
	    margin-bottom: 20px;
        text-align: right;

        a {
            float: none;
            @include font-family('Roboto Light');
            @include responsive-font-size(12);
            text-decoration: underline;
        }
    }

    .block-subtitle--filter {
        display: none;
    }

    #narrow-by-list {

        dt {
            margin: 25px 0 5px 0;
            padding: 0;
            @include font-family('Roboto Medium');
            @include responsive-font-size(strip-units($f-size));
            text-transform: uppercase;

            &:first-child {
                margin-top: 0;
            }
        }

        dd {

			ol {
				@include responsive-line-height(16);
			}
			
            li {
                padding: 0;

                a {
                    @include font-family('Roboto Regular');
                    @include responsive-font-size(strip-units($f-size-xs));
                }
                
                a:hover {
	                color: $c-text-gray;
                }
            }
        }
    }
    
    .configurable-swatch-list {
	    li {
		    margin: 0 0 8px 3px !important;
		    width: auto !important;
		    
		    &:nth-child(4n+1) {
			    clear: left;
		    }
		    
		    a:hover .swatch-label {
			    border-color: $c-black !important;
		    }
	    }
	    
	    .swatch-label,
	    .swatch-label img {
		    border-radius: 50% !important;
	    }
    }
}