$menuDesktopWidth: 1024;
$desktopLogoHeight: 118;

.header-left {
    height: $desktopLogoHeight*1px;
    line-height: $desktopLogoHeight*1px;

/*----------------------------------------------------------------------------*/
/* Level 1
/*----------------------------------------------------------------------------*/

    > ul {
        margin: 0;
        padding: 0;
        vertical-align: bottom;

        a {
            &:hover {
                text-decoration: none;
            }
        }

        a.level0 {
            @include font-family('Roboto Bold');
            @include responsive-font-size(strip-units($f-size-xs));
            color: $c-black;
            text-transform: uppercase;
        }

        > li.level0 {
            line-height: 1;
            vertical-align: bottom;

            &:not(.last) {
                margin-right: 30px;
            }

            &:hover:not(.nav-1) > a {
                border-bottom: 2px solid $c-black;
                padding-bottom: 8px;
            }
        }

        .nav-1 a {
            color: transparent;
            font-size: 0;
            vertical-align: bottom;

            &:after {
                @include use-sprite('icon_goto-home');
                content: "";
                display: inline-block;
                vertical-align: bottom;
            }
        }
    }

    /*----------------------------------------------------------------------------*/
    /* Level 2
    /*----------------------------------------------------------------------------*/
    ul.level0 {
        display: none;
    }
    

    /*----------------------------------------------------------------------------*/
    /* Level 3
    /*----------------------------------------------------------------------------*/

    
}