$menuDesktopWidth: 1260;

.header-left {

/*----------------------------------------------------------------------------*/
/* Level 1
/*----------------------------------------------------------------------------*/

    > ul {
        margin: 0;
        padding: 0;

        a {
            &:hover {
                text-decoration: none;
            }
        }

        a.level0 {
            @include font-family('Roboto Bold');
            @include responsive-font-size(strip-units($f-size-xs));
            color: $c-black;
            text-transform: uppercase;
        }

        > li.level0 {
	        cursor: pointer;
            line-height: 66px;
            height: 75px;

            &:not(.last) {
                margin-right: 30px;
            }
        }

        .nav-1 a {
            color: transparent;
            font-size: 0;

            &:after {
                @include use-sprite('icon_goto-home');
                content: "";
                display: inline-block;
            }
        }
    }

    /*----------------------------------------------------------------------------*/
    /* Level 2
    /*----------------------------------------------------------------------------*/
    .submenu {
        display: none;
        
        .width-wrapper {
	        max-width: $menuDesktopWidth * 1px;
	        margin: 0 auto;
        }
        
        .by-product,
        .by-brands,
        .leftmenu,
        .rightmenu {
	        float: left;
	        width: 49.5%;
        }
        
        .by-product,
        .by-brands {
	        &:after {
		        @include clearfix;
	        }
        }
        
        .by-brands {
	        position: relative;
        }
        
        h6 {
	        display: block;
	        margin-bottom: 7px;
	        text-transform: uppercase;
	        
	        &:after {
		        @include clearfix;
	        }
        }
        
        &:after {
	        @include clearfix;
        }
    }
    
    li.level0 {
	    &:hover {
		    
		    &:hover:not(.nav-1) > a {
			    border-bottom: 2px solid $c-black;
			    padding-bottom: 8px;
			}
			
			.submenu {
				border-bottom: 2px solid $c-black;
				border-top: 1px solid $c-black;
		        background-color: $c-white;
		        display: block;
		        left: 0;
		        margin: 9px auto 0 auto;
		        min-height: 200px;
		        padding: 20px;
		        position: absolute;
		        right: 0;
		        z-index: 9;
	        }
	    }
    }
    

    /*----------------------------------------------------------------------------*/
    /* Level 3
    /*----------------------------------------------------------------------------*/

	.leftmenu,
	.rightmenu {
		@include font-family('Roboto Regular');
		@include responsive-font-size(strip-units($f-size-xs));
		@include responsive-line-height(18);
		
		li {
			clear: both;
			display: inherit;
		}
		
		a:hover {
			color: $c-text-gray;
		}
	}
	
	.leftmenu {
		
		.first {
			margin-bottom: 20px;
			
			a {
				@include font-family('Roboto Medium');
			}
			
			.sale {
				color: $c-red;
			}
			
			.sale:hover {
				color: #f68282;
			}
		}
	}
	
	.brand-snapshot {
		bottom: 0;
		position: absolute;	
		
		img {
			width: 175px;
		}
	}
	
	
    
}