/*----------------------------------------------------------------------------*/
/* Mini Cart
/*----------------------------------------------------------------------------*/
.header-minicart {
	
	&.desktop {
		position: relative;
	}
	
	> a {
		float: none;
		height: inherit;
		padding: 0;
		width: auto;
	}
	.icon {
		display: none;
	}
	.label {
		color: transparent;
        font-size: 0;

        &:after {
            @include use-sprite('icon_minicart');
            content: "";
            display: inline-block;
        }
	}
	.count {
		@include responsive-font-size(strip-units($f-size-xxs));
		background-color: $c-black;
		border-radius: 50%;
		color: $c-white !important;
		height: 20px;
		line-height: 20px;
		position: absolute;
		text-align: center;
		width: 20px;
		
		&:before,
		&:after {
			display: none;
		}
	}
	
	.message {
        display: block;
        padding: 5px 20px;
        @include responsive-font-size(14);
        text-align: left;
        font-weight: bold;
    }

    #minicart-success-message {
        @extend .message;
        color: green;
    }

    #minicart-error-message {
        @extend .message;
        color: $c-red;
    }
	
	#header-cart .minicart-wrapper {
		@include loadingOverlay();
        clear: both;
        position: relative;
        display: block;
        padding: 0 20px 21px;
        @include box-sizing(border-box);
		
		.block-subtitle {

			border-bottom: 1px solid #dedede;
			margin: 0;
            padding: 8px 0;
            @include font-family('Roboto Regular');
            @include responsive-font-size(strip-units($f-size-xs));
            font-weight: normal;
            text-align: left;
            text-transform: uppercase;
            
		}
		
		.empty {
            text-align: center;
		    margin: 15px 0;
		    font-style: italic;
        }
		
		.close {
			font-size: 0;
			background: none;
			top: -10px;
			position: absolute;
			right: 10px;
			
			&:after {
				@include global-font-awesome(16px);
				content: '\f00d';
				color: $c-text;
			}
		}
		
		> div {
			max-height: 240px;
			overflow-y: auto;
		}
		
		#cart-sidebar li {
			overflow: auto;
			border-bottom: 1px solid #dedede;
			padding: 10px 0;
			
			&:after {
				@include clearfix;	
			}
		}
		
		.product-image {
			float: left;
			width: 15%;
			
			img {
				width: 100%;
			}
		}
		
		.product-details {
			@include font-family('Roboto Regular');
			@include responsive-font-size(strip-units($f-size-xs));
			float: right;
			text-align: left;
			width: 80%;
		}
		
		.product-name {
			text-transform: capitalize;
		}
		
		.info-wrapper {
			
			.left {
				float: left;
			}
			.right {
				float: right;
			}
			
			.value {
				@include font-family('Roboto Bold');
			}
			
			&:after {
				@include clearfix;
			}	
		}
		
		.truncated {
			cursor: default;
			margin: 8px 0;
			
			.truncated_full_value {
				z-index: 9;
			}
			
			.item-options {
				@include responsive-font-size(strip-units($f-size-xs));
				background-color: transparent;
				border: none;
				display: block;
				padding: 0;
				position: static !important;
				overflow: auto;
				left: inherit;
				top: inherit;
				width: auto;
				z-index: inherit;
				
				dt {
					@include font-family('Roboto Regular');
					font-style: normal;
					padding: 0;
				}
				
				dd {
					@include font-family('Roboto Bold');
					margin: 0;
					padding-left: 4px;
					text-transform: uppercase;
				}
			}
			
			.item-options:after {
				display: none;
			}
		}
		
		.link-update {
			color: $c-text-gray;
			text-align: right;
		}
		
		.block-content {
            display: block;
            margin: 12.5px 0;
            text-align: right;

            .subtotal {
                @include font-family('Roboto Bold');
                text-transform: uppercase;
				
				.label {
					@include responsive-font-size(strip-units($f-size-xs));
					color: $c-black;
				}
				.label:after {
					display: none;
				}
				
                .price {
                    @include font-family('Roboto Bold');
                }
            }
        }
		
		.minicart-actions > ul {
			display: inline-block;
			width: auto;
		}
		
		.minicart-actions > ul > li > a.checkout-button {
			@include button-blink1(135px, 30px, 10);
			&:hover {
				@include global-opacity-onhover;
			}
		}
		
		.minicart-actions .cart-link {
			@include button-blink2(135px, 30px, 10);
			&:hover {
				@include global-opacity-onhover;
			}
		}
	}
}