/*----------------------------------------------------------------------------*/
/* Minicart
/* Based on skin/frontend/rwd/default/scss/module/_checkout-cart-minicart.scss
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------------*/

.header-minicart {
    display: inline-block;

    .menu-cart, .menu-cart-mobile {
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: inherit;
        }

        .count {
            display: inline-block;
            @include responsive-font-size(14);
            font-weight: normal;
            text-align: center;
            color: #ffffff;
        }
    }

    .hidden-mobile {

        @include breakpoint(mobile) {
            display: none;
        }
    }

    .hidden-all {
        display: none;
    }

    .show-mobile {

        @include breakpoint(mobile) {
            display: block;
        }
    }
}

/*----------------------------------------------------------------------------*/
/* Body
/*----------------------------------------------------------------------------*/

#header-cart {
    display: none;
    position: absolute;
    z-index: 200;
    top: 30px;
    right: inherit;
    width: 330px;
    margin-left: -92px;
    color: #404041;
    border: none;
    background-color: #ffffff;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);

    &.undocked {
        position: fixed;
    }

    .close {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 11px;
        height: 10px;
        background-image: url('../images/minicart/cross.png');
        cursor: pointer;
    }


    .message {
        display: block;
        padding: 5px 20px;
        @include responsive-font-size(14);
        text-align: left;
        font-weight: bold;
    }

    #minicart-success-message {
        @extend .message;
        color: #85b14e;
    }

    #minicart-error-message {
        @extend .message;
        color: #ff4f39;
    }

    .minicart-wrapper {
        @include loadingOverlay();
        clear: both;
        position: relative;
        display: block;
        padding: 0 20px 21px;
        @include box-sizing(border-box);

        .close {
            display: none;
        }

        .block-subtitle {
            margin: 0 0 10px 0;
            padding: 0 0 8px 0;
            @include font-family('Roboto Bold');
            @include responsive-font-size(16);
            font-weight: normal;
            text-align: left;
            color: #404041;
            border-bottom: 1px solid #c7c7c7;
        }

        .empty {
            text-align: left;
        }

        > div {
            display: block; // Fix Magento inline block bug.
        }

        .minicart-products-list {

            li {
                margin: 0 0 10px 0;
                padding: 0 0 10px 0;
                border-bottom: 1px solid #c7c7c7;

                .product-image {
                    float: left;
                }

                .product-details {
                    position: relative;
                    display: block;
                    margin-left: 80px;

                    .product-name {
                        width: 90%; // Allow for absolute position delete icon.
                        margin: 0;
                        padding: 0;
                        text-align: left;

                        a {
                            @include font-family('Roboto Bold');
                            @include responsive-font-size(14);
                            font-weight: normal;
                            color: #404041;
                            text-transform: none;
                        }
                    }

                    table.info-wrapper {
                        width: 100%;
                        margin-top: 1em;

                        .qty {
                            display: block;
                            float: left;
                            @include font-family('Roboto Bold');
                            @include responsive-font-size(14);
                            font-weight: normal;
                            color: #404041;
                        }

                        .price {
                            display: block;
                            float: right;
                            @include font-family('Roboto Bold');
                            @include responsive-font-size(14);
                            font-weight: normal;
                            color: #404041;
                        }
                    }

                    .btn-edit {
                        display: none;
                    }

                    .remove {
                        position: absolute;
                        top: 5px;
                        right: 0;
                        @include link-to-button-image(11px, 10px, '../images/minicart/remove.png');
                    }
                }
            }
        }

        .block-content {
            display: block;
            margin: 0 0 25px 0;
            text-align: right;

            .subtotal {
                @include font-family('Roboto Bold');
                text-transform: uppercase;

                .price {
                    @include font-family('Roboto Bold');
                }
            }
        }

        .minicart-actions {
            display: block;

            .cart-link {
                display: none;
            }

            ul.checkout-types {
                float: none;
                text-align: center;

                .paypal-logo {
                    display: none; // Hide PayPal Express button.
                }

                li {
                    margin: 0;
                    padding: 0;
                    border-top: none;

                    .cart-button {
                        @include button-blink2(140px, 34px);
                    }

                    .checkout-button {
                        @include button-blink1(140px, 34px);
                    }
                }
            }
        }
    }
}