/*----------------------------------------------------------------------------*/
/* All Pages
/*----------------------------------------------------------------------------*/

body {
    @include font-family('Roboto Regular');
    overflow-x: hidden; // For megamenu mobile.

    &:after {
        @include clearfix;
    }

    .page-header,
    .main-container,
    .footer-container {
	    @include global-page-margin-side;
        margin: 0 auto;
        max-width: none;
    }
    
    .main-container {
	    padding-bottom: 88px;
    }
}

.desktop {
    @include breakpoint(tablet) {
        display: none !important;
    }
}

.mobile {
    display: none !important;
    @include breakpoint(tablet) {
        display: block !important;
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure Page
/*----------------------------------------------------------------------------*/

.wrapper {

    .page {

        .main-container {
			margin: 0 auto;
		    max-width: $max-content-width;
		    
            .main {
            }
        }
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure 1column
/*----------------------------------------------------------------------------*/

.col1-layout {

    .col-main {
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-left
/*----------------------------------------------------------------------------*/

.col2-left-layout {

    .col-left {
	    width: 17%;
    }

    .col-main {
	    width: 81.5%;
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-right
/*----------------------------------------------------------------------------*/

.col2-right-layout {

    .col-main {
    }

    .col-right {
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure 3columns
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Breadcrumbs
/*----------------------------------------------------------------------------*/

.breadcrumbs {
    display: block;
    margin: 18px 0;

    @include breakpoint(tabletLandscape) {
        //margin: 20px $pageTabletMarginSide 0;
    }

    @include breakpoint(mobile) {
        //display: none;
    }

    li {
        margin: 0;
        padding: 0;

        a {
            @include font-family('Roboto Light');
            @include responsive-font-size(14);
            font-weight: normal;
            text-transform: none;
            color: #262a2d;

            &:hover {
                color: inherit;
            }
        }

        strong {
            @include font-family('Roboto Light');
            @include responsive-font-size(14);
            font-weight: normal;
            text-transform: none;
            color: #ee3d42;
        }
    }
}
