/*----------------------------------------------------------------------------*/
/* Tabs
/*----------------------------------------------------------------------------*/

@mixin tabs-boostrap() {

    .nav-pills {
        border-bottom: 2px solid #d8d8d8;

        li {

            @include breakpoint(mobile) {
                width: 100%;
            }

            &.active {

                > a {
                    color: #ffffff;
                    background-color: #ee3d42;
                }
            }

            > a {
                border-radius: 0;
                @include responsive-font-size(18);
                font-weight: bold;
                text-transform: uppercase;
                color: #404041;
            }
        }
    }
}
