/*----------------------------------------------------------------------------*/
/* Add To Cart Dialog
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Root Template
/*----------------------------------------------------------------------------*/

$addtocartDialogWidth: 815;
$addtocartDialogWidthPercent: 94;

$addtocartDialogMinHeight: 625;
$addtocartDialogMinHeightMobile: 200;

#addtocart-dialog-container {

    // Center dialog left/right. JQuery UI position will position in center of view port.
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    //@include box-shadow(#9e8587 0px 0px 8px);
    border: 2px solid #cdcdcd;

    z-index: 1000;
    max-width: $addtocartDialogWidth*1px;
    min-height: $addtocartDialogMinHeight*1px; // Fix height, content loaded via ajax.
    text-align: left;
    background-color: #ffffff;

    @include breakpoint(mobile) {
        min-height: $addtocartDialogMinHeightMobile*1px; // Fix height, content loaded via ajax.
        width: $addtocartDialogWidthPercent * 1%;
    }

    .close.top {
        width: 22px; // Double for easier click/tap.
        height: 20px; // Double for easier click/tap.
        float: right;
        cursor: pointer;

        &:after {
            content: '';
            float: right;
            margin: 15px 15px 0 0;
            @include use-sprite('dialog-close');
        }
    }

    > .ajax {
        width: 150px;
        height: 1.5em;
        padding-left: 2em;
        background: url(../images/ajax-loader.gif) no-repeat left center;
        @include helper-absolute-center();
    }

    > .error {
        width: 50%;
        height: 2em;
        text-align: center;
        @include helper-absolute-center();
    }
}

/*----------------------------------------------------------------------------*/
/* Product Template
/*----------------------------------------------------------------------------*/

#addtocart-container {

    .content-container {
        padding: 20px 30px;

        @include breakpoint(mobile) {
        }

        /*----------------------------------------------------------------------------*/
        /* Item Added
        /*----------------------------------------------------------------------------*/

        .item-added-container {
            margin: 0 0 1em 0;
            padding: 0 0 1em 0;
            border-bottom: 1px solid #cccccc;

            .item-added {
                color: #404041;
                @include font-family('Avenir Black');
                @include responsive-font-size(16);

                &:before {
                    content: '';
                    margin-right: 0.5em;
                    @include use-sprite('addtocart-tick');
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        /*----------------------------------------------------------------------------*/
        /* Product Image
        /*----------------------------------------------------------------------------*/

        .product-image {

            @include breakpoint(mobile) {
                display: none;
            }

            img {
                @include responsive-img;
            }
        }

        /*----------------------------------------------------------------------------*/
        /* Product Detail
        /*----------------------------------------------------------------------------*/

        .product-container {

            @include breakpoint(mobile) {
                display: none;
            }

            .product-name {
                margin: 0 0 0.5em 0;
                padding: 0;
                @include font-family('Avenir Black');
                @include responsive-font-size(24);
                font-weight: normal;
                text-transform: none;
                color: #404041;
            }

            .product-sku {
                @include font-family('Avenir Light');
                @include responsive-font-size(16);
                color: #404041;

                span {
                    @include font-family('Avenir Black');
                }
            }

        }

        /*----------------------------------------------------------------------------*/
        /* Summary Details
        /*----------------------------------------------------------------------------*/

        .summary-container {

            @include breakpoint(mobile) {
                display: none;
            }

            h2 {
                margin: 0 0 0.75em 0;
                padding: 0;
                @include font-family('Avenir Black');
                @include responsive-font-size(16);
                color: #404041;
            }

            .field {
                @include responsive-font-size(14);
                color: #404041;

                label {
                    @include font-family('Avenir Black');
                }
            }

            .button-box {
                margin: 0.75em 0 0 0;

                .checkout-now {

                    button {
                        @include button-b1(200px);
                    }
                }

                .close {
                    margin-top: 0.5em;

                    button {
                        @include button-b3(200px);
                    }
                }
            }
        }

        /*----------------------------------------------------------------------------*/
        /* Summary Short Details
        /*----------------------------------------------------------------------------*/

        .summary-short-container {
            display: none;

            @include breakpoint(mobile) {
                display: block;
            }

            .button-box {
                margin: 0.5em 0 0 0;

                .checkout-now {

                    button {
                        @include button-b1(100%);
                    }
                }

                .close {
                    margin-top: 0.5em;

                    button {
                        @include button-b3(100%);
                    }
                }
            }
        }
    }
}

/*----------------------------------------------------------------------------*/
/* Upsell
/*----------------------------------------------------------------------------*/

#addtocart-container {

    .category-products,
    .block-related,
    .box-up-sell {
        position: relative;
        padding: 20px 30px; // Keep consistent with content-container.
        @include carousel(28%);

        @include breakpoint(mobile) {
            display: none;
        }

        h1 {
            margin: 0 0 1em 0;
            padding: 1em 0 0.5em 0;
            @include font-family('Avenir Black');
            @include responsive-font-size(18);
            text-transform: uppercase;
            color: #404041;
            border-top: 1px solid #cccccc;
            border-bottom: 2px solid #d8d8d8;
        }

        .products-grid,
        .mini-products-list {
            float: none;
            width: auto;
            margin: 0;
            padding: 0;

            .item {
                min-height: 0;

                .product-name {
                    border: none;
                }
            }

            .actions {
                height: auto;
                display: block;

                button {
                    @include button-b1(160px);
                }

                .button {
                    float: none;
                    @include button-blink1(160px);
                }

                .add-to-links,
                .link-wishlist {
                    display: none;
                }
            }
        }
    }
}